<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/homepage.css">
    <link rel="stylesheet" href="/css/search-users.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>

<body>
    <nav>
        <div>
            <a href="/homepage">Homepage</a>
            <a href="/users">Search Users</a>
            <a href="/login">Log out</a>
        </div>
    </nav>

    <div class="search-users-container">
        <div class="search-users-contents" style="cursor: pointer;">
            <h1>Search User</h1>
            <div class="search-users-line">
                <hr>
            </div>
                <div class="search-users-profile">
                    <div class="search-users-profile-name">
                        <div class="search-users-profile-list">
                            <div class="search-users-profile-list-pic">
                                <% users.forEach((user) => { %>
                        
                                <a href="/profile/<%= user._id %>">
                                    <img src="<%= user.profilePicture %>" alt="<%= user.username %>">
                                    <!-- <div class="search-users-profile-list-name">
                                        <span>@<%= user.username %></span>
                                    </div> -->
                                </a>
                        
                                <% }); %>
                            </div>

                            <div class="search-users-profile-list-name">
                                <% users.forEach((user) => { %>
                        
                                    <a href="/profile/<%= user._id %>">
                                        <!-- <img src="<%= user.profilePicture %>" alt="<%= user.username %>" style="max-width: 100px;"> -->
                                        <!-- <div class="search-users-profile-list-name"> -->
                                            <span>@<%= user.username %></span>
                                        <!-- </div> -->
                                    </a>
                            
                                    <% }); %>
                            </div>
                        </div>
                    </div>
                </div>
            

        </div>
    </div>
      
</body>

</html>